{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="col-12 row justify-content-center">
        <form class="col-lg-4 col-md-6 col-sm-12 form-group" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <label for="InputEmail">Email</label>
                <input name="email" type="email" value="{{ last_username }}" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Votre mail ne sera jamais transmit.</small>
            </div>
            <div class="form-group">
                <label for="InputPassword">Mot de passe</label>
                <input name="password" type="password" class="form-control" id="InputPassword" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Check">
                <label name="_remember_me" class="form-check-label" for="Check">Se rappeler de moi ?</label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="btn btn-primary">Connexion</button>

        </form>
    </div>

    <div class="row flex-column col-lg-12 text-center">
        <a href="{{ path('app_user_new') }}">Créer un compte</a>
        <a href="{{ path('app_user_sendtoken') }}">Mot de passe perdu ?</a>
    </div>
{% endblock %}
