{{ form_start(form, {'attr': {'class': 'col-12 flex-column justify-content-center align-items-center'}}) }}
    <div class="col-12 row flex-column justify-content-center align-items-center">
        <div class="form-group">
            {# form_label(form.lastName) #}
            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {# form_label(form.firstName) #}
            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {# form_label(form.email) #}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {# form_label(form.company) #}
            {{ form_widget(form.company, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {# form_label(form.phoneNumber) #}
            {{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {# form_label(form.postalAddress) #}
            {{ form_widget(form.postalAddress, { 'attr': {'class': 'form-control'} }) }}
        </div>

        {% if form.product is defined %}
        <div class="form-group">
            {{ form(form.product.comment,  { 'attr': {'class': 'form-control'}}) }}
        </div>

        <h3>{{ form_label(form.product.files) }}</h3>
        <div class="files row col-12  flex-column align-items-center justify-content-center" data-prototype="{{ form_widget(form.product.files.vars.prototype)|e('html_attr') }}">

        </div>
        {% endif %}

        <div style="display: none">{{ form_rest(form) }}</div>

        <div class="form-group row justify-content-center text-center">
            <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
        </div>
    </div>


{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('EmbedFiles') }}
{% endblock %}
