{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier une commande</h1>

    <div style="display: none" id="productId">{{ product.id }}</div>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('product/_delete_form.html.twig') }}

    <a href="{{ path('app_userspace_showproduct', {'product': product.id}) }}">Retour sur le produit</a>

    {{ include('product/returnToListButton.html.twig') }}

{% endblock %}
