{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des commandes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            {% if is_granted("ROLE_ADMIN") %}
                <th>Client</th>
            {% endif %}
            <th>Etat de la demande</th>
            <th>Paiement</th>
            <th>Prix</th>
            <th>Devis</th>
            <th>Facture</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>

                {% if is_granted("ROLE_ADMIN") %}
                    {% if product.user %}
                        <td><a href="{{ path('app_adminspace_seeuser', {'user': product.user.id }) }}">{{ product.user.lastName }} {{ product.user.firstName }}</a></td>
                    {% else %}
                        <td><a href="{{ path('app_orphan_show', {'id': product.orphanUser.id }) }}">{{ product.orphanUser.lastName }} {{ product.orphanUser.firstName }}</a></td>
                    {% endif %}
                {% endif %}

                <td>{{ product.state }}</td>
                <td>{{ product.isPayed ? 'Oui' : 'Non' }}</td>
                <td>{{ product.price ? product.price : ' / ' }}</td>
                <td>{{ product.devis ? 'Oui' : 'Non' }}</td>
                <td>{{ product.bill ? 'Oui' : 'Non' }}</td>
                <td>
                    {{ include('product/editButton.html.twig') }}

                    <a href="{{ path('app_userspace_showproduct', {'product': product.id }) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
