{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Client</th>
                {% endif %}
                <th>Etat de la demande</th>
                <th>IsValid</th>
                <th>IsPayed</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('app_user_show', {'id': product.user.id }) }}">{{ product.user.lastName }}</a></td> {# TODO : implement orphan users #}
                <td>{{ product.state }}</td>
                <td>{{ product.isValid ? 'Yes' : 'No' }}</td>
                <td>{{ product.isPayed ? 'Yes' : 'No' }}</td>
                <td>{{ product.comment }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_create') }}">Create new</a>
{% endblock %}
