{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande n°{{ product.id }}</h1>

    <table class="table col-lg-6 col-md-9 col-sm-12">
        <tbody>
        <tr>
            <th>Commande payée ?</th>
            <td>{{ product.isPayed ? 'Oui' : 'Non' }}</td>
        </tr>
        {% if product.isPayed %}
            <tr>
                <th>Type de paiement</th>
                {% if product.isStripePayed %}
                    <td>Paiement Stripe</td>
                {% elseif product.isOffLinePayed %}
                    <td>Paiement hors ligne</td>
                {% endif %}
            </tr>
        {% endif %}
        <tr>
            <th>Etat de la commande</th>
            <td>{{ product.state }}</td>
        </tr>
        <tr>
            <th>Création de la commande</th>
            <td>{{ product.creationDate | date("d/m/Y h:i")}}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{% if product.price %}
                {{ product.price }} €
                {% else %}
                    L'estimation n'est pas encore disponible.
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <div class="col-12 row flex-column justify-content-center align-items-center p-2 m-2">
        <h3 class="col-lg-6 col-md-9 col-sm-12 text-center">Commentaire</h3>
        <p class="col-lg-6 col-md-9 col-sm-12 border rounded p-2 text-center">{{ product.comment }}</p>
    </div>


    <div class="row justify-content-center align-items-center p-2 m-2">
        <h3 class="col-12 text-center">Fichiers à traduire & devis</h3>

        {% include('product/files.html.twig') %}


        {% include('product/devis.html.twig') %}
    </div>

    <div class="row justify-content-center align-items-center p-2 m-2">
        <h3 class="col-12 text-center">Facture & livrables</h3>
        {% if product.isPayed or is_granted('ROLE_ADMIN') %}

            {% include('product/facture.html.twig') %}

            {% include('product/livrables.html.twig') %}

        {% else %}
            <p>Vous devez régler la commande pour avoir accès aux livrables et à la facture</p>
        {% endif %}
    </div>

    {{ include('product/editButton.html.twig') }}

    {% if not product.isPayed  and not is_granted('ROLE_ADMIN') and product.isValid %}
        {# <a id="OnlinePaymentButton" class="m-2" href="{{ path('app_stripe_redirecttocheckout', {'id': product.id}) }}"><button class="btn btn-primary">Payer en ligne</button></a> #}
        <button id="OnlinePaymentButton" data-product="{{ product.id }}" class="btn btn-primary">Payer en ligne</button>
    {% endif %}

    {{ include('product/returnToListButton.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('StripeApi') }}
{% endblock %}