{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IsValid</th>
                <td>{{ product.isValid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsPayed</th>
                <td>{{ product.isPayed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ product.comment }}</td>
            </tr>
            <tr>
                {% for file in product.files %}
            <tr>
                <th><a href="{{ path('app_userspace_downloadfile', {'file' : file.id, 'product': file.product.id }) }}">{{ file.name }}</a></th>
            </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_adminspace_products') }}">back to list</a>
    {% endif %}

    {% if not is_granted("ROLE_ADMIN") %}
        {{ include('product/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
