{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Commande payée ?</th>
            <td>{{ product.isPayed ? 'Oui' : 'Non' }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td>{{ product.comment }}</td>
        </tr>
        <tr>
            <th>Etat de la commande</th>
            <td>{{ product.state }}</td>
        </tr>
        <tr>
            <th>Fichiers</th>
            {% for file in product.files %}
                <th><a href="{{ path('app_userspace_downloadfile', {'file' : file.id, 'product': product.id }) }}">{{ file.name }}</a></th>
            {% else %}
                <th>Pas de fichiers</th>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <div class="row justify-content-center align-items-center">
        <div id="devis" class="col-auto row p-2 m-1 border rounded text-center justify-content-center">
            <h3 class="col-12">Devis</h3>
            {% if product.devis is not null %}
                <a class="col-12" href="{{ path('app_userspace_downloaddevis', {'product' : product.id, 'devis' : product.devis.id}) }}"><button class="btn btn-success" type="button">{{ product.devis.name }}</button></a>
            {% else %}
                <p>Pas de devis ...</p>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") %}
                <a id ="addDevis" class="col-12" href="{{ path('app_adminspace_uploaddevis', {'product': product.id}) }}">Changer le devis</a>
            {% endif %}
        </div>

        <div id="facture" class="col-auto row p-2 m-1 border rounded text-center justify-content-center">
            <h3 class="col-12">Facture</h3>
            {% if product.bill is not null %}
                <a class="col-12" href="{{ path('app_userspace_downloadbill', {'product' : product.id, 'bill' : product.bill.id}) }}"><button class="btn btn-success" type="button">{{ product.bill.name }}</button></a>
            {% else %}
                <p>Pas de facture ...</p>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") %}
                <a id ="addBill" class="col-12" href="{{ path('app_adminspace_uploadbill', {'product': product.id}) }}">Changer la facture</a>
            {% endif %}
        </div>
    </div>

    <div class="row flex-column">
        {{ include('product/editButton.html.twig') }}
        <a href="{{ path('app_stripe_redirecttocheckout', {'id': product.id}) }}">Payer_TEST</a>

        {{ include('product/returnToListButton.html.twig') }}
    </div>
{% endblock %}
