{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification de {{ user.firstName }} {{ user.lastName }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_userspace_show') }}">Retourner sur le profil</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
