{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Company</th>
                <th>BillingAddress</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.billingAddress }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_adminspace_seeuser', {'user': user.id}) }}">show</a>
                    <a href="{{ path('app_adminspace_edituser', {'user': user.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
