{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des {{ title }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Entreprise</th>
                <th>Adresse de facturation</th>
                <th>Numéro de téléphone</th>
                <th>Date de création</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.billingAddress }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.creationDate | date("m/d/Y h:i") }}</td>
                {% if user.isActive %}
                    <td>
                        <a class="m-2" href="{{ path('app_adminspace_edituser', {'user': user.id}) }}"><button class="btn btn-primary">Modifier</button></a>
                    </td>
                    <td>
                        <a class="m-2" href="{{ path('app_adminspace_seeuser', {'user': user.id}) }}"><button class="btn btn-primary">Voir</button></a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('app_adminspace_reactiveuser', {'user': user.id}) }}"><button class="btn btn-primary">Réactiver l'utilisateur</button></a>
                    </td>
                    <td>
                        <form method="post" action="{{ path('app_adminspace_userdelete', {'user': user.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer définitiement cet utilisateur ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger">Supprimer définitivement</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'utilisateurs trouvés !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ activePath }}"><button class="btn btn-primary">{{ pathLabel }}</button></a>
{% endblock %}
