{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Entreprise</th>
                <th>Adresse de facturation</th>
                <th>Numéro de téléphone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.billingAddress }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_adminspace_seeuser', {'user': user.id}) }}">Voir</a>
                    <a href="{{ path('app_adminspace_edituser', {'user': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'utilisateurs trouvés !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
