{{ form_start(form) }}

    {% if form.email is defined %}
        <div class="form-group">
            {{ form_row(form.email,  { 'attr': {'class': 'form-control'}}) }}
        </div>
    {% endif %}

    {% if form.password is defined %}
        <div class="form-group flex-column row">
            {{ form_row(form.password.first, { 'attr': {'class': 'form-control m-2'}}) }}

            {{ form_row(form.password.second, { 'attr': {'class': 'form-control m-2'}}) }}
        </div>
    {% endif %}

    <div class="form-group justify-content-center row col-12">
        <button type="submit" class="col-auto btn btn-success">Valider</button>
    </div>

{{ form_end(form) }}