{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.firstName }} {{ user.lastName }}</h1>

    <table class="table col-12">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ user.company }}</td>
            </tr>
            <tr>
                <th>Adresse de facturation</th>
                <td>{{ user.billingAddress }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Commandes</h3>
    <table class="table text-center col-6">
        <thead>
        <tr>
            <th>ID</th>
            <th>Etat</th>
        </tr>
        </thead>
        <tbody>

            {% for product in user.products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.state }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_adminspace_clients') }}">Retour sur la liste</a>
    {% endif %}

    {% if not is_granted("ROLE_ADMIN") %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
